@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --font-name: "Montserrat", sans-serif;
  --subtitle-font-name: "Island Moments", cursive;
}

.section_subtitle {
  font-family: var(--subtitle-font-name);
  width: max-content;
  padding: 0px 0.5rem;
  border-radius: 50px;
  font-weight: 500;
  font-size: 2.7rem;
  color: #ee6e6e;
}

.light-theme {
  background-color: #fff;
  color: #000000;
}

.light-theme button {
  background-color: #710793;
  color: black;
}

.dark-theme {
  background-color: #09020c; /*#0e0113  #000000*/
  color: #ffffff;
}

.dark-theme button {
  background-color: #a32cc4;
  color: white;
}
